.contact-card
{
    width: 400px;
    padding: 5px;
    margin: 5px;
    border-radius: 15px;
    background-color:burlywood;
    box-shadow: rgba(0, 0, 0, 0.5);
    position: relative;
}

.dlt-icon
{
   width: 35px;
   margin-left: 320px;
   cursor: pointer;
}

.icon-edit-contact
{
    position: absolute;
    bottom: 3px;
    right: 30px;
    cursor: pointer;
    margin-top: 5px;
    width: 20px;



}



.contact-name
{
    font-size: 20px;
}
.m-2
{
    margin: 2px;
}